/*.App {  text-align: center;
}.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}.App-title {
  font-size: 1.5em;
}.App-intro {
  font-size: large;
}@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
body {
  width: 100%;
}
.courses-list {
    margin-left: 15px;
	margin-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

        #vcontainer {
            width: inherit;
            height: inherit;
            margin-top: 50px;
            margin-right: 50px;
            padding-right: 10px;
        }
        .course-button {
            //background-image: linear-gradient(to bottom, #57b, #148);
            background-image: linear-gradient(to bottom, #3029f4, #3029f4f2);
            //box-shadow: 0.1em 0.1em 0.5em #124;
            box-shadow: 0.1em 0.1em 0.5em #fff;
            padding: 1em;
            border: 0;
            font-size: 0.8em;
            border-radius: 0.5em;
            color: white;
        }
        
        .course-button:active {
            box-shadow: inset 0 0 0.5em white, inset 0 0.5em 1em rgba(0, 0, 0, 0.4);
        }